@model LeaveRequestsViewModel
@{

}
<h1>Create Leave Requests</h1>

<div>
    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="Emp_Code"></label>
            <input asp-for="Emp_Code" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="LeaveType"></label>
            <input asp-for="LeaveType" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Reason"></label>
            <input asp-for="Reason" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="FromDate"></label>
            <input asp-for="FromDate" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ToDate"></label>
            <input asp-for="ToDate" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="LeavesCount"></label>
            <input asp-for="LeavesCount" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ApprovalPerson"></label>
            <input asp-for="ApprovalPerson" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Status"></label>
            <input asp-for="Status" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
