.panel-heading {
    text-align: center;
    margin-bottom: 1px;
}

#forget {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}

.form-inline label {
    padding-left: 10px;
    margin: 0%;
    cursor: pointer;
}


.btn {
    margin-top: 20px;
    border-radius: 15px;
}



.panel {
    min-height: 10px;
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px;
    margin-top: 10px;
}



.input-field {
    border-radius: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 2px solid #ddd;
    color: #4343ff;
}

.fa {
    color: blue
}

.loginbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ml-offset {
    margin-left: 29%;
}
