@model CompanyDetailsViewModel

<h1>Edit Details</h1>

<div>
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="CompanyName"></label>
            <input asp-for="CompanyName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="CompanyAddress"></label>
            <input asp-for="CompanyAddress" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Division"></label>
            <input asp-for="Division" class="form-control" />
            <div class=" mt-2 row justify-content-start">
                <div class="col-auto">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-auto">
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
    </form>
</div>