<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Payslip</title>
    <meta name="author" content="Whiztek" />
    <link rel="stylesheet" type="text/css" href="Payslip.css"/>
</head>

<body>
    <p style="text-indent: 0pt;text-align: left;">
        <img src="/images/logo.png" alt="Description of the image">
    </p>
    <br />
    <table style="border-collapse:collapse;margin-left:5.92pt" cellspacing="0">
        <tr>
            <td colspan="6">
                <h1 style="text-align: center;"><span class="red-text">TESTTESTTESTTESTTESTTESTTESTTESTTESTTEST</span></h1>
            </td>
        </tr>
        <tr>
            <td colspan="6" style="height: 40px; border: none;"></td>
        </tr>
        <tr style="height:21pt">
            <td style="width:60pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s1" style="padding-top: 5pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Pay Slip</p>
            </td>
            <td style="width:94pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:112pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s1" style="padding-top: 5pt;padding-left: 23pt;text-indent: 0pt;text-align: left;">
                    Payslip for the
                    month
                </p>
            </td>
            <td style="width:98pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s2" style="padding-top: 5pt;padding-left: 7pt;text-indent: 0pt;text-align: left;"><span class="red-text">TEST</span></p>
            </td>
            <td style="width:88pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s1" style="padding-top: 5pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">Division</p>
            </td>
            <td style="width:114pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p style="text-indent: 0pt;text-align: left;">
                <p class="s3" style="padding-top: 6pt;padding-left: 11pt;text-indent: 0pt;text-align: left;"><span class="red-text">TEST</span></p>
            </td>
        </tr>
        <tr style="height:21pt">
            <td style="width:60pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s1" style="padding-top: 5pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Emp Code</p>
            </td>
            <td style="width:94pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s4" style="padding-top: 5pt;padding-left: 9pt;text-indent: 0pt;text-align: left;"><span class="red-text">TEST</span></p>
            </td>
            <td style="width:112pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s1" style="padding-top: 5pt;padding-left: 23pt;text-indent: 0pt;text-align: left;">
                    Employee Name
                </p>
            </td>
            <td style="width:98pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s4" style="padding-top: 5pt;padding-left: 7pt;text-indent: 0pt;text-align: left;"><span class="red-text">TEST</span></p>
            </td>
            <td style="width:88pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:114pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:21pt">
            <td style="width:60pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s1" style="padding-top: 5pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Designation</p>
            </td>
            <td style="width:94pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s4" style="padding-top: 5pt;padding-left: 9pt;text-indent: 0pt;text-align: left;"><span class="red-text">TEST</span></p>
            </td>
            <td style="width:112pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s1" style="padding-top: 5pt;padding-left: 23pt;text-indent: 0pt;text-align: left;">Department</p>
            </td>
            <td style="width:98pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s4" style="padding-top: 5pt;padding-left: 7pt;text-indent: 0pt;text-align: left;"><span class="red-text">TEST</span></p>
            </td>
            <td style="width:88pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s1" style="padding-top: 5pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">
                    Bank Account No
                </p>
            </td>
            <td style="width:114pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s4" style="padding-top: 6pt;padding-left: 9pt;text-indent: 0pt;text-align: left;"><span class="red-text">TEST</span></p>
            </td>
        </tr>
        <tr style="height:21pt">
            <td style="width:60pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s1" style="padding-top: 5pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Joining Dt</p>
            </td>
            <td style="width:94pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s4" style="padding-top: 5pt;padding-left: 9pt;text-indent: 0pt;text-align: left;"><span class="red-text">TEST</span></p>
            </td>
            <td style="width:112pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s1" style="padding-top: 5pt;padding-left: 23pt;text-indent: 0pt;text-align: left;">Bank Name</p>
            </td>
            <td style="width:98pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s4" style="padding-top: 5pt;padding-left: 7pt;text-indent: 0pt;text-align: left;"><span class="red-text">TEST</span></p>
            </td>
            <td style="width:88pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:114pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
        </tr>
        <tr style="height:24pt">
            <td style="width:60pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s1" style="padding-top: 5pt;padding-left: 4pt;text-indent: 0pt;text-align: left;">PAN NO</p>
            </td>
            <td style="width:94pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s4" style="padding-top: 5pt;padding-left: 9pt;text-indent: 0pt;text-align: left;"><span class="red-text">TEST</span></p>
            </td>
            <td style="width:112pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s1" style="padding-top: 5pt;padding-left: 23pt;text-indent: 0pt;text-align: left;">UAN No</p>
            </td>
            <td style="width:98pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s4" style="padding-top: 5pt;padding-left: 7pt;text-indent: 0pt;text-align: left;"><span class="red-text">TEST</span></p>
            </td>
            <td style="width:88pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s1" style="padding-top: 5pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">PF Acc NO</p>
            </td>
            <td style="width:114pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD">
                <p class="s4" style="padding-top: 6pt;padding-left: 9pt;text-indent: 0pt;text-align: left;"><span class="red-text">TEST</span></p>
            </td>
        </tr>
    </table>
    <h1 style="padding-top: 5pt;padding-left: 11pt;text-indent: 0pt;text-align: left;">
        Days Paid 31<span style=" color: #000;">.00 </span>LWP/Absent <span style=" color: #000;">0.00 / 0.00</span>
    </h1>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <table style="border-collapse:collapse;margin-left:13.39pt" cellspacing="0">
        <tr style="height:23pt">
            <td style="width:142pt;border-top-style:solid;border-top-width:2pt;border-top-color:#E1E1E1;border-left-style:solid;border-left-width:2pt;border-left-color:#E1E1E1;border-bottom-style:solid;border-bottom-width:2pt;border-bottom-color:#DDDDDD;border-right-style:solid;border-right-width:1pt;border-right-color:#DDDDDD">
                <p class="s6" style="padding-top: 6pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">Earnings</p>
            </td>
            <td style="width:135pt;border-top-style:solid;border-top-width:2pt;border-top-color:#E1E1E1;border-left-style:solid;border-left-width:1pt;border-left-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:2pt;border-bottom-color:#DDDDDD;border-right-style:solid;border-right-width:2pt;border-right-color:#E1E1E1">
                <p class="s6" style="padding-top: 6pt;padding-right: 1pt;text-indent: 0pt;text-align: right;">Amount</p>
            </td>
            <td style="width:135pt;border-top-style:solid;border-top-width:2pt;border-top-color:#E1E1E1;border-left-style:solid;border-left-width:2pt;border-left-color:#E1E1E1;border-bottom-style:solid;border-bottom-width:2pt;border-bottom-color:#DDDDDD;border-right-style:solid;border-right-width:1pt;border-right-color:#DDDDDD">
                <p class="s6" style="padding-top: 6pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">
                    Deductions &amp;
                    Recoveries
                </p>
            </td>
            <td style="width:142pt;border-top-style:solid;border-top-width:2pt;border-top-color:#E1E1E1;border-left-style:solid;border-left-width:1pt;border-left-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:2pt;border-bottom-color:#DDDDDD;border-right-style:solid;border-right-width:2pt;border-right-color:#E1E1E1">
                <p class="s6" style="padding-top: 6pt;text-indent: 0pt;text-align: right;">Amount</p>
            </td>
        </tr>
        <tr style="height:22pt">
            <td style="width:142pt;border-top-style:solid;border-top-width:2pt;border-top-color:#DDDDDD;border-left-style:solid;border-left-width:2pt;border-left-color:#E1E1E1;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD;border-right-style:solid;border-right-width:1pt;border-right-color:#DDDDDD">
                <p class="s7" style="padding-top: 5pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">Earned Basic</p>
            </td>
            <td style="width:135pt;border-top-style:solid;border-top-width:2pt;border-top-color:#DDDDDD;border-left-style:solid;border-left-width:1pt;border-left-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD;border-right-style:solid;border-right-width:2pt;border-right-color:#E1E1E1">
                <p class="s7" style="padding-top: 5pt;padding-right: 3pt;text-indent: 0pt;text-align: right;">0.00</p>
            </td>
            <td style="width:135pt;border-top-style:solid;border-top-width:2pt;border-top-color:#DDDDDD;border-left-style:solid;border-left-width:2pt;border-left-color:#E1E1E1;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD;border-right-style:solid;border-right-width:1pt;border-right-color:#DDDDDD">
                <p class="s7" style="padding-top: 5pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">
                    PF Employee
                    Share
                </p>
            </td>
            <td style="width:142pt;border-top-style:solid;border-top-width:2pt;border-top-color:#DDDDDD;border-left-style:solid;border-left-width:1pt;border-left-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD;border-right-style:solid;border-right-width:2pt;border-right-color:#E1E1E1">
                <p class="s7" style="padding-top: 5pt;padding-right: 1pt;text-indent: 0pt;text-align: right;">0.00</p>
            </td>
        </tr>
        <tr style="height:22pt">
            <td style="width:142pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-left-style:solid;border-left-width:2pt;border-left-color:#E1E1E1;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD;border-right-style:solid;border-right-width:1pt;border-right-color:#DDDDDD">
                <p class="s7" style="padding-top: 5pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">HRA</p>
            </td>
            <td style="width:135pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-left-style:solid;border-left-width:1pt;border-left-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD;border-right-style:solid;border-right-width:2pt;border-right-color:#E1E1E1">
                <p class="s7" style="padding-top: 5pt;padding-right: 3pt;text-indent: 0pt;text-align: right;">0.00</p>
            </td>
            <td style="width:135pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-left-style:solid;border-left-width:2pt;border-left-color:#E1E1E1;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD;border-right-style:solid;border-right-width:1pt;border-right-color:#DDDDDD">
                <p class="s7" style="padding-top: 5pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">
                    Professional Tax
                </p>
            </td>
            <td style="width:142pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-left-style:solid;border-left-width:1pt;border-left-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD;border-right-style:solid;border-right-width:2pt;border-right-color:#E1E1E1">
                <p class="s7" style="padding-top: 5pt;text-indent: 0pt;text-align: right;">0.00</p>
            </td>
        </tr>
        <tr style="height:22pt">
            <td style="width:142pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-left-style:solid;border-left-width:2pt;border-left-color:#E1E1E1;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD;border-right-style:solid;border-right-width:1pt;border-right-color:#DDDDDD">
                <p class="s7" style="padding-top: 5pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">
                    Special
                    Allowance
                </p>
            </td>
            <td style="width:135pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-left-style:solid;border-left-width:1pt;border-left-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD;border-right-style:solid;border-right-width:2pt;border-right-color:#E1E1E1">
                <p class="s7" style="padding-top: 5pt;padding-right: 3pt;text-indent: 0pt;text-align: right;">0.00</p>
            </td>
            <td style="width:135pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-left-style:solid;border-left-width:2pt;border-left-color:#E1E1E1;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD;border-right-style:solid;border-right-width:1pt;border-right-color:#DDDDDD">
                <p class="s7" style="padding-top: 5pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">TDS</p>
            </td>
            <td style="width:142pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-left-style:solid;border-left-width:1pt;border-left-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:1pt;border-bottom-color:#DDDDDD;border-right-style:solid;border-right-width:2pt;border-right-color:#E1E1E1">
                <p class="s7" style="padding-top: 5pt;text-indent: 0pt;text-align: right;">0.00</p>
            </td>
        </tr>
        <tr style="height:22pt">
            <td style="width:142pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-left-style:solid;border-left-width:2pt;border-left-color:#E1E1E1;border-bottom-style:solid;border-bottom-width:2pt;border-bottom-color:#E1E1E1;border-right-style:solid;border-right-width:1pt;border-right-color:#DDDDDD">
                <p class="s7" style="padding-top: 6pt;padding-left: 79pt;text-indent: 0pt;text-align: left;">
                    Amount Total:
                </p>
            </td>
            <td style="width:135pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-left-style:solid;border-left-width:1pt;border-left-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:2pt;border-bottom-color:#E1E1E1;border-right-style:solid;border-right-width:2pt;border-right-color:#E1E1E1">
                <p class="s7" style="padding-top: 6pt;padding-right: 3pt;text-indent: 0pt;text-align: right;">00000.00</p>
            </td>
            <td style="width:135pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-left-style:solid;border-left-width:2pt;border-left-color:#E1E1E1;border-bottom-style:solid;border-bottom-width:2pt;border-bottom-color:#E1E1E1;border-right-style:solid;border-right-width:1pt;border-right-color:#DDDDDD">
                <p class="s7" style="padding-top: 6pt;text-indent: 0pt;text-align: right;">Amount Total:</p>
            </td>
            <td style="width:142pt;border-top-style:solid;border-top-width:1pt;border-top-color:#DDDDDD;border-left-style:solid;border-left-width:1pt;border-left-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:2pt;border-bottom-color:#E1E1E1;border-right-style:solid;border-right-width:2pt;border-right-color:#E1E1E1">
                <p class="s7" style="padding-top: 6pt;text-indent: 0pt;text-align: right;">00000.00</p>
            </td>
        </tr>
        <tr style="height:22pt">
            <td style="width:142pt;border-top-style:solid;border-top-width:2pt;border-top-color:#E1E1E1;border-left-style:solid;border-left-width:2pt;border-left-color:#E1E1E1;border-bottom-style:solid;border-bottom-width:2pt;border-bottom-color:#E1E1E1;border-right-style:solid;border-right-width:1pt;border-right-color:#DDDDDD">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:135pt;border-top-style:solid;border-top-width:2pt;border-top-color:#E1E1E1;border-left-style:solid;border-left-width:1pt;border-left-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:2pt;border-bottom-color:#E1E1E1;border-right-style:solid;border-right-width:1pt;border-right-color:#DDDDDD">
                <p style="text-indent: 0pt;text-align: left;"><br /></p>
            </td>
            <td style="width:135pt;border-top-style:solid;border-top-width:2pt;border-top-color:#E1E1E1;border-left-style:solid;border-left-width:1pt;border-left-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:2pt;border-bottom-color:#E1E1E1;border-right-style:solid;border-right-width:1pt;border-right-color:#DDDDDD">
                <p class="s7" style="padding-top: 6pt;text-indent: 0pt;text-align: right;">Net Pay:</p>
            </td>
            <td style="width:142pt;border-top-style:solid;border-top-width:2pt;border-top-color:#E1E1E1;border-left-style:solid;border-left-width:1pt;border-left-color:#DDDDDD;border-bottom-style:solid;border-bottom-width:2pt;border-bottom-color:#E1E1E1;border-right-style:solid;border-right-width:2pt;border-right-color:#E1E1E1">
                <p class="s7" style="padding-top: 6pt;text-indent: 0pt;text-align: right;">00000.00</p>
            </td>
        </tr>
        <tr style="height:22pt">
            <td style="width:554pt;border-top-style:solid;border-top-width:2pt;border-top-color:#E1E1E1;border-left-style:solid;border-left-width:2pt;border-left-color:#E1E1E1;border-bottom-style:solid;border-bottom-width:2pt;border-bottom-color:#E1E1E1;border-right-style:solid;border-right-width:2pt;border-right-color:#E1E1E1"
                colspan="4">
                <p class="s7" style="padding-top: 6pt;padding-left: 7pt;text-indent: 0pt;text-align: left;">
                    Net Pay: <span class="red-text">TEST</span>.
                </p>
            </td>
        </tr>
    </table>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p style="padding-left: 7pt;text-indent: 0pt;text-align: left;">
        This is a computer-generated pay slip and does not
        require a signature.
    </p>
    <div class="code">
        &lt;span class=&quot;red-text&quot;&gt;TEST&lt;/span&gt;
        replace this to
        TEST
    </div>
</body>
</html>