@model EmployeeTypeViewModel

<h1>Employee Type</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Employee Type</dt>
        <dd class="col-sm-10">@Model.EmpType</dd>

        <dt class="col-sm-2">Leave Allocation</dt>
        <dd class="col-sm-10">@Model.LeaveAllocation</dd>
    </dl>
</div>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
