@model PaySlipManagement.Common.Models.AccountDetails

<h1>Edit Account</h1>

<div>
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Emp_Code"></label>
            <input asp-for="Emp_Code" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="BankName"></label>
            <input asp-for="BankName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="BankAccountNumber"></label>
            <input asp-for="BankAccountNumber" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="UANNumber"></label>
            <input asp-for="UANNumber" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="PFAccountNumber"></label>
            <input asp-for="PFAccountNumber" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
