@model UsersViewModel

<h1>Create User</h1>

<div>
    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="Emp_Code"></label>
            <input asp-for="Emp_Code" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
        </div>
        <div class="mt-2">
            <div class="row justify-content-start">
                <div class="col-auto">
                    <form asp-action="Create">
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <div class="col-auto">
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>
